*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial;

}
body{
    background-color: #5b3000;
    text-align: center;
    
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    
    
}

.game{
    Width: 60vmin;
    height: 60vmin;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
}

.box{
    width: 18vmin;
    height: 18vmin;
    font-size: 8vmin;
    border-radius: 1rem;
    color: rgba(255, 0, 0, 0.63);
    border: none;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
    
}

.head{
    display:flex;
    justify-content: center;
    margin:auto;
    color:black;
}
.heading{
    width:85vmin;
    background-color: #82a6b1;
    border-radius: 1rem;
    text-align: center;
    padding:10px;
    margin:10px;
    
}

#Reset-btn{
    Padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    border: none;
    color:white;
    border-radius: 1rem;
}

.start-btn{
    Padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    border: none;
    color:white;
    border-radius: 1rem;
}

#msg{
    font-size: 5vmin;
}

.hide{
    display:none;
    
}
.winner{
    margin-top: 60px;
    
}


